@model Country
@{
    ViewData["Continent"] = "Detail";
}

<h2 class="country-detail-header">@Model.Continent.Name - @Model.Name</h2>
<div class="row">
    <div class="col-6 offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/images/@Model.ImageFlag" alt="@Model.ImageFlag">
            </li>
            <li class="list-group-item">
                <h3>Name:</h3>
            </li>
            <li class="list-group-item">
                <p>@Model.Name</p>
            </li>
            <li class="list-group-item">
                <h3>City:</h3>
            </li>
            <li class="list-group-item">
                <p>@Model.City</p>
            </li>
            <li class="list-group-item">
                <h3>Population:</h3>
            </li>
            <li class="list-group-item">
                <p>@Model.Population.ToString("N0")</p>
            </li>
        </ul>
    </div>
</div>